<div class="container">
  <div class="page-header">
    <h1>How To Mine</h1>
  </div>
  <p class="lead">Stratum mining for Nvidia / Amd using 
    <a href="https://pan.baidu.com/s/1n__dWyzZ8MMo-jv_a4EfIg" rel="nofollow" target="_blank">Claymore</a>
  </p>
  <dl class="dl-horizontal">
    <dt>Stratum Server</dt>
    <dd>
      <code>etphunter.com:8008</code>.
    </dd>
    <dt>YOUR_ETP_ADDRESS</dt>
    <dd>
      This is your address for payouts, generate one with your favourite ETP wallet.<br/>
      Causion: the address is case sensitive!
      <strong>Example:</strong> <code>MLasJFxZQnA49XEvhTHmRKi2qstkj9ppjo</code>.
    </dd>
    <dt>RIG_ID</dt>
    <dd>
      ID of your farm to distinguish it from your other rig. If you have just one rig, feel free to omit this param.
      This param must be short alphanumeric string with optional dashes and underscores.<br/>
      <strong>Example:</strong> <code>miner001</code>
    </dd>
  </dl>
  <hr/>
  <p class="lead">Edit <code>ETP Mining.bat</code> and specify our pool's Server: <code>{{config.StratumHost}}:{{config.StratumPort}}</code> and your <code>Wallet Address</code>:</p>
  <p>set Stratum_Server=etphunter.com:8008<br/>
  set YOUR_ETP_ADDRESS=MLasJFxZQnA49XEvhTHmRKi2qstkj9ppjo<br/>
  set RIG_ID=miner001
  </p>
</div>